<h1>Pages#dashboard</h1>

<!-- <div id="author-placeholder"></div> -->

<!--
<script id="authors" type="text/x-handlebars-template">

  {{#each users}}
    <h2>{{ name }}</h2>

    <ul class="sshhhs">
      {{#each sshhhs}}
        <li>{{secrets}}</li>
      {{/each}}
    </ul>

  {{/each}}

</script> -->
